<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530708308843-o6agug1a8nu03ou6eudi5dv6g5keer9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530708308843-o6agug1a8nu03ou6eudi5dv6g5keer9p</string>
	<key>API_KEY</key>
	<string>AIzaSyBBxdz8XXTH3-PYu8YvOp4T_MjTG4oKfzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>530708308843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.voiced.CollegeConsulting</string>
	<key>PROJECT_ID</key>
	<string>voiced-college-consulting</string>
	<key>STORAGE_BUCKET</key>
	<string>voiced-college-consulting.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530708308843:ios:585d622511c6f2330fe22e</string>
	<key>DATABASE_URL</key>
	<string>https://voiced-college-consulting.firebaseio.com</string>
</dict>
</plist>